
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahallu members list</title>
    {% tailwind_css %}
</head>
<body>
    {% include 'myapp/navbar.html' %}

    <h1 class="flex items-center justify-center text-xl">Mahallu Members List</h1>

    <div class="mt-4 l:ml-2 sm:w-full lg:ml-60 l:w-96 lg:w-8/12">
        <!-- Input field for filtering -->
        <input type="text" id="tableFilter" class="p-2 border mb-4" placeholder="Search For Data">
        
        <div class="overflow-x-auto">
            <table class="table border border-r w-full text-left">
              <!-- head -->
              <thead class="bg-slate-300 text-black">
                <tr class="border-primary">
                  <th class="border-r p-2">Mahallu ID</th>
                  <th class="border-r p-2">Name</th>
                  <th class="border-r p-2">Fathers Name</th>
                  <th class="p-2">House Name</th>
                </tr>
              </thead>
              <tbody id="dataTable">
                <!-- row 1 -->
                {% for member in mahallumembers %}
                <tr class="border-white hover:bg-black hover:text-action-color" onclick="viewIndividualStatement('{{ member.id_no }}')">
                  <th class="border-r p-2">{{ member.id_no }}</th>
                  <td class="border-r p-2">{{ member.name }}</td>
                  <td class="border-r p-2">{{ member.father_name }}</td>
                  <td class="p-2">{{ member.house_name }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </div>

    <script>
        document.getElementById('tableFilter').addEventListener('input', filterTable);

        function filterTable() {
            const filter = document.getElementById('tableFilter').value.toLowerCase();
            const rows = document.querySelectorAll('#dataTable tr');

            rows.forEach(row => {
                const cells = Array.from(row.querySelectorAll('th, td')).map(cell => cell.innerText.toLowerCase());
                const match = cells.some(cell => cell.includes(filter));
                row.style.display = match ? '' : 'none';
            });
        }

        function viewIndividualStatement(id_no) {
            window.location.href = "{% url 'individual_statement' %}?id_no=" + id_no;
            // window.location.href = "{% url 'individual_statement' %}?id_no={{ fund.id_no }}";
        }
    </script>

</body>
</html>
