{% load static tailwind_tags  %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% tailwind_css %}
    <!-- <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
</head>
<body class=" min-h-screen flex items-center justify-center">

    <div class="container">
        <h1 class="text-2xl font-bold mb-4 text-center">Palakkad Hithayathul Islam Mahallu JamaAthu</h1>
        <img 
        src="{% static 'icons/icon_192x192.png' %}" 
        alt="Icon" 
        class="mx-auto w-40 h-40 mb-2" />
        <h1 class="text-2xl font-bold mb-4 text-center">Login page</h1>

        {% if messages %}
            <div class="mb-4 text-center">
                {% for message in messages %}
                    <div class="p-4 rounded text-red-500 border border-red-500 mb-2 {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        <form method="POST" class="bg-white p-6 rounded shadow-md max-w-sm mx-auto">
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium">User Name</label>
                <input type="text" id="name" name="username" class="mt-1 block w-full border text-black border-gray-300 rounded px-2 py-1" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-sm font-medium">Password</label>
                <input type="password" id="field_of_job" name="password" class="mt-1 block w-full border text-black border-gray-300 rounded px-2 py-1" required>
            </div>

            <!-- <a href="{% url 'admin' %}" id="secondarybtn" class="btn btn-outline font-bold bg-created-pink hover:bg-created-orange ml-5">Create User</a> -->
            <button type="submit" class=" bg-blue-700  hover:bg-created-orange text-white px-4 py-2 ml-32 rounded">login</button>
        </form>
    </div>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("{% static 'js/service-worker.js' %}")
                .then((registration) => {
                    console.log('Service Worker registered with scope:', registration.scope);
                })
                .catch((error) => {
                    console.error('Service Worker registration failed:', error);
                });
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const experienceInput = document.getElementById('experience');
            const additionalField = document.getElementById('additional-field');
    
            experienceInput.addEventListener('input', function () {
                if (experienceInput.value > 5) {
                    additionalField.classList.remove('hidden');
                } else {
                    additionalField.classList.add('hidden');
                }
            });
        });
    </script>

</body>
</html>
